[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
pandas = "*"
xmltodict = "*"
dask = {extras = ["complete"],version = "*"}
numpy = "*"
toolz = "*"
lxml = "*"
jinja2 = "*"
python-dotenv = "*"
paramiko = "*"
pyarrow = "*"
zipfile36 = "*"
pandas-read-xml = "*"

[requires]
python_version = "3.7"
